*{

    margin: 0;
    padding: 0;
}
div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}
label{

    margin-left: 20px;
}
input{

    margin: 10px;

}

